<div class="acordeon__container">

  <button class="trigger" type="button">
      {{accordeonTitle}}
  </button>

  <div class="content skills">
      <div class="left">
          <h4>Habilidades profissionais:</h4>
          <ol class="subcontent">
              <li>Javascript</li>
              <li>Angular</li>
              <li>HTML</li>
              <li>CSS</li>
          </ol>
      </div>
      <div class="right">
          <h4>Habilidades pessoais:</h4>
          <ol class="subcontent">
              <li>Facilidade com tarefas práticas</li>
              <li>Organização</li>
              <li>Facilidade de Aprendizado</li>
              <li>Trabalho em Equipe</li>
          </ol>
      </div>
  </div>

</div>
