.skills__container {
  display: flex;
  flex-direction: column;
}

.skills__container .hardskills ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.skills__container .hardskills ul li img {
  max-width: 50px;
  max-height: 50px;
  margin: 0 .5rem;
}

.skills__container .softskills ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.skills__container .softskills ul li {
  margin-left: 2rem;
  padding: .5rem
}

@media only screen and (min-width: 768px) {
  .skills__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
}
